html, body {
    background: linear-gradient(35deg, yellow 10%, #FFB200 50%, red);
    color: white;
    margin: 0;
    padding: 0;
    font-family: arial;
}

.full-width {
    width: 100%;
}

.darkgray-bg {
    background-color: #383838dd;
    padding: 12px;
    border-radius: 12px;
}